<div class="d-flex justify-content-between ">
  <h1>Angular App</h1>
  <nav class=" pt-4">
    <ul>
      <li><a routerLink="/Temp">First Component</a></li>
      <li><a routerLink="/Form">Form Component</a></li>
      <li><a routerLink="/Data">Data Component</a></li>
      <li><a routerLink="/Api">Api Component</a></li>
      <li><a routerLink="/Perent-component">Data Flow</a></li>
      <li><a routerLink="/LifeCycle">Life Cycle</a></li>
    </ul>
  </nav>

</div>
<router-outlet></router-outlet>