<div class="container w-50">

    <h2 class="text-center mt-5">login works!</h2>

    <form #myForm="ngForm" (ngSubmit)="login(myForm)">

        <div class="mb-3">
            <label for="" class="form-label">Email</label>
            <input type="text" name="Email" id="" class="form-control" placeholder="Enter your email address" ngModel />
            <p class="text-danger"   [ngClass]="{'d-none': isEmailValid}">Enter Email</p>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input type="text" name="Password" id="" class="form-control" placeholder="Enter your Password" ngModel />
            <p class="text-danger"  [ngClass]="{'d-none': isPasswordValid}">Enter Password</p>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>
 